# Dependencies
# Ignore installed dependencies.

*/node_modules/

# Frontend
# Ignore a general 'frontend' directory if your frontend code is separate.
frontend/

# Ignore common frontend build output directories.
/build/
/dist/
/.next/
